*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background: #eaeaea;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding: 14px 16px;
}
li a{
    text-decoration: none;
    color: #111; 
}
ul li:hover{
    background: white;
}
.profile{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    padding: 15px 0;
}
.profile-text{
    width: 70%;
   margin: 0 auto;
   font-size: 18px;
   font-style: italic;
   text-align: justify;
   line-height: 1.4;
}
.read{
    text-decoration: none;
}
.section{
    display: flex;
    padding-top: 10px;
}
.partition1{
    width: 50%;
    background:url('../img/travel1.jpeg');
    height: 300px;
}
.partition2{
    width: 50%;
    background: url('../img/images.jpg');
    height: 300px;
}
.section2{
    display: flex;
    padding-top:10px; 
}
.part1{
    width: 33%;
    background:url('../img/fact5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.part2{
    width: 33%;
    background: url('../img/health1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.part3{
    width: 33%;
    background:url('../img/health2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
/* Responsive codes */
@media screen and (max-width: 400px){
    .nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav li a{
        font-size: 15px;
    }
    .profile-text{
        width: 100%;
       font-size: 18px;
       font-style: italic;
       text-align: justify;
       line-height: 1.4;
    }
    .partition1{
        width: 100%;
        background: indigo;
        height: 300px;
    }
    .partition2{
        width: 100%;
        background: orange;
        height: 300px;
    }
    .section{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .section2{
        display: flex;
        flex-direction: column;
        padding-top:10px; 
    }
    .part1{
        width: 100%;
        background:url('../img/fact5.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding: 10px;
    }
    .part2{
        width: 100%;
        background: url('../img/health1.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    .part3{
        width: 100%;
        background:url('../img/health2.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
}